:root{
    --pink:#e84393;


}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    /* overflow-x: hidden; */
}
section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}
.heading span{
    color:var(--pink)
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: greenyellow;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin-bottom: 30px;
}
header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}
header .logo span{
    color: var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}
header .navbar a:hover{
    color:var(--pink)
}
header .icons a{
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}
header .icons a:hover{
    color: var(--pink);
}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border:1rem solid rgba(0, 0, 0, .3);
    display: none;
}
#section1{
    margin-top: 60px;
}

  #countdown {
    font-size: 24px;
    display: flex;
    margin-bottom: 30px;
    color: red;
    margin-top: 10px;
   
  }
  #slideShow{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 5px;
  }
  .slideshow{
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    margin-top: 20px;
    position: relative;
    object-fit: cover;
    display: flex;
    justify-content: center;
  
}
.slide-child{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute !important;
    background: #ccc;
    object-fit: cover;
    overflow: hidden;
    display: none;
}
.slide-child.active{
    display: flex;
}
.previous, .next{
    position: absolute;
    top: 50%;
    font-size: 15px;
    font-weight: bold;
}
.next{
    right: 10px;

}
.previous{
    left: 10px;
}
  body .images{
    display: flex;
    align-items: center;
  }
body .images1, .images3, .images2, p{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    text-decoration: aliceblue;

}
.pic{
    background-color: whitesmoke;
    border: solid rgba(0, 0, 0, .3);
    width: 200px;
    min-height: 200px;
    margin-left: 15px;
    margin-bottom: 15px;
    
}

.footer{
    background-color: #000;
    color: #fff;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

}
.contacts{
    background-color: var(--pink);
    width: 100%;
    min-height: 20px;
    margin-bottom: 15px;
    font-size: 15px;

}
.icons{
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 15px;
}
.footer .icons i:hover{
    color: #e84393;
}

